<% provide(:title, "Contact") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact</h1>
    <p>This is best way to reach me through e-email
      sirnana1@gmail.<br> Hope you find everything you need on this
      site. You can e-mail me if you have any questions.
	</p>
  </div>
</div>
