<!--   Nana Asiedu-Ansah
      Muhlenberg College
      CSI 370
      Spring 2019 CUE
-->
<% provide(:title, " Editing Book") %>
<h1>Editing Book</h1>
<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
