<footer class="footer mt-auto py-3">
 <div class ="container"
    <span class="text-muted">
    <ul>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
    </ul>
     <p><center>Copyright &copy; 2019</center></p>
     </span>
  </div>
</footer>
