<footer class="footer mt-auto py-3 fixed-bottom">
 <div class ="container"
    <span class="text-muted">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
     <p><center>Copyright &copy; 2019</center></p>
     </span>
  </div>
</footer>
