<!-- Nana  Asiedu-Ansah
     CSI 370
     Spring 2019 CUE

     The the header with the navigation bar.
-->

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-btn btn-dark btn-lg accordion-toggle pull-left collapsed" title="Follow Us" role="tab" id="social-collapse" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>
      <!-- <a id="menu-toggle" href="#" class="nav-btn btn-dark btn-lg toggle"> <i class="fa fa-bars" style="color:#fff;"></i> </a> -->
      <a id="to-top" class="btn btn-lg btn-inverse" href="#top">
        <span class="sr-only">Toggle to Top Navigation</span>
      </a>
    </div>
    <%= link_to "USED TEXTBOOKS", root_path , id: "logo" %>
      <ul class="nav navbar-nav navbar-left">
        <!-- Home -->
        <li><%= link_to root_path do %>
          <i class="glyphicon glyphicon-home"></i>
          Home
          <%end%>
        </li>
        <span>
        </span>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             New Book <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to "Book", new_book_path %></li>

            <li>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <!-- Home -->
        <li><%= link_to  new_user_registration_path do%>
          <i class="glyphicon glyphicon-sign"></i>
           Sign Up
          <%end%>
        </li>
        <span>
        </span>
      </ul>
  </div>
</nav>
